/*-------------------------------Cabecera----------------------------*/
.cabecera{
    background-image: url('../img/Feria.jpg');
    
}

/*--------------------------------Fondo-------------------------------*/
.navbar{
    background: linear-gradient(to right, rgb(9, 35, 114), rgba(3, 11, 36, 0.9));

}

.back
{
    background-color: #F7FC72;
}

.bg-warning
{
    background-color:  #F7FC72;
}

/*-------------------------------Estilos CRUD--------------------------*/
.imgCrud
{
    max-width: 80%;
    max-height: auto;
}

.botonazo
{
    background-color: rgb(62,68,74);
    color: rgb(247,247,248);
    font-size: 1em;
    padding: 0.25em;
    margin-bottom: 0.2em;
    border: none;
    border-radius: 0.3em;
}

.botonazo:hover
{
    background-color: rgb(72,78,84);
}
